accelerate
git+https://github.com/descriptinc/audiotools
transformers
tokenizers
cn2an
ffmpeg-python
Cython
g2p-en
jieba
json5
keras
numba
numpy
pandas
matplotlib
munch
opencv-python
tensorboard
librosa
safetensors
modelscope
omegaconf
sentencepiece
tqdm
textstat

wetext; platform_system == "Darwin"

# importlib_resources
# deepspeed # Use it to accelerate model inference
